<p class="publication-note">This list includes 10 published papers and 2 accepted papers. Accepted papers are listed separately from formally published articles.</p>

<h3>Accepted Papers</h3>
<ol class="hui-publications">
{% assign accepted = site.data.huihuang.publications | where: "status", "accepted" | sort: "acceptedDate" | reverse %}
{% for publication in accepted %}
{% include huihuang/publication-item.html %}
{% endfor %}
</ol>

<h3>Journal Articles</h3>
<ol class="hui-publications">
{% for publication in site.data.huihuang.publications %}
{% if publication.type == "journal" and publication.status != "accepted" %}
{% include huihuang/publication-item.html %}
{% endif %}
{% endfor %}
</ol>

<h3>Conference Papers</h3>
<ol class="hui-publications">
{% for publication in site.data.huihuang.publications %}
{% if publication.type == "conference" and publication.status != "accepted" %}
{% include huihuang/publication-item.html %}
{% endif %}
{% endfor %}
</ol>
